# Lenovo TB321FU: iio-sensor-proxy's SSC backend (accelerometer for screen
# rotation, light, proximity, compass), as in GUF296's tb321fu-sensors package.
ACTION=="remove", GOTO="tb321fu_sensors_end"
SUBSYSTEM=="misc", KERNEL=="fastrpc-adsp", ENV{IIO_SENSOR_PROXY_TYPE}+="ssc-accel ssc-light ssc-proximity ssc-compass", ENV{ACCEL_MOUNT_MATRIX}="-1,0,0;0,-1,0;0,0,1", TAG+="systemd", ENV{SYSTEMD_WANTS}+="iio-sensor-proxy.service"
LABEL="tb321fu_sensors_end"
