[D-BUS Service]
Name=org.freedesktop.portal.Documents
Exec=/bin/sh -c 'XDG_RUNTIME_DIR="$XDG_RUNTIME_DIR/armada-plasma" exec /usr/libexec/xdg-document-portal'
